<!DOCTYPE html>

<!---
  Copyright 2017 The AMP Start Authors. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain magna copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS-IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<html ⚡="">
{{ partial "head.html" . }}
<body class="land-see">
  <amp-auto-ads type="adsense" data-ad-client="{{.Site.Params.adsensePublisher}}"></amp-auto-ads>
  {{ if ne (getenv "HUGO_ENV") "DEV" }}
  {{ with .Site.Params.GoogleAnalytics }}
  <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
      {
        "vars": {
          "account": "{{ . }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
  {{ end }}
  {{ end }}
  {{- partial "header.html" . -}}
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <aside>
    {{- block "aside" . }}{{- end }}
  </aside>
  {{- partial "footer.html" . -}}
</body>
</html>
