{{ define "main" }}

  <header class="p-page-title">
    <h1 class="title">{{ .Title }}</h1>
  </header>
  
  <section class="land-see-recent-content relative mx-auto py4">
    <h4 class="land-see-section-header ml1">{{ .Title }}</h4>
    <div class="clearfix pt2">
      <ul class="list-reset m0 p0 center justify-start fit flex flex-wrap">
        {{ $BaseURL := .Site.BaseURL }}
        {{ range .Paginator.Pages }}
        <li class="px1 block align-top land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-recent">
          <a href="{{.URL}}" class="text-decoration-none">
            <amp-img class="land-see-post-image cover" alt="Eyecatch" media="" width="409" height="305" layout="responsive" src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}"></amp-img>
          </a>
          <h4 class="land-see-post-title ampstart-title-sm pt1"><a class="text-decoration-none" href="{{.URL}}">{{.Title}}</a></h4>
          <p class="ampstart-caption pt1 pb3"></p>
        </li>
        {{ end }}
      </ul>
    </div>
  </section>

{{ partial "pagination.html" . }}
{{ end }}


{{ define "aside" }}
{{ end }}


