{{ define "main" }}
<div class="l-container">
  <header class="pt4 mt4">
    <h1 class="ampstart-title-lg">{{ .Page.Title }}</h1>
    <div class="pt1">
        <span class="mr1"><i class="fa fa-calendar" aria-hidden="true"></i>{{ .Date.Format "January 2, 2006" }}</span>
        <span class="mr1"><i class="fa fa-refresh" aria-hidden="true"></i>{{ .Lastmod.Format "January 2, 2006" }}</span>
    </div>
  </header>
  <section class="land-see-story-detail relative mx-auto mb4 pt2 m2">
    {{ .Content }}
  </section>

  <div class="sns">
    <amp-social-share type="twitter"></amp-social-share>
    <amp-social-share type="facebook" data-param-app_id="{{ .Params.FacebookAppId }}"></amp-social-share>
    <amp-social-share type="gplus"></amp-social-share>
    <amp-social-share type="line"></amp-social-share>
    <amp-social-share
      type="hatena_bookmark"
      layout="fixed"
      width="60" height="44"
      data-share-endpoint="http://b.hatena.ne.jp/append?SOURCE_URL">
      B!
    </amp-social-share>
    <amp-social-share
      type="pocket"
      layout="fixed"
      width="60" height="44"
      data-share-endpoint="http://getpocket.com/edit?url={{ .Site.BaseURL }}{{ .URL | replaceRE "^/" "" }}">
    </amp-social-share>
  </div>
  
  {{- partial "adsense.html" . -}}
</div>
{{ end }}

{{ define "aside" }}
{{ $related := .Site.RegularPages.Related . | first 8 }}
{{ $BaseURL := .Site.BaseURL }}
{{ with $related }}
<section class="land-see-recent-content relative mx-auto py4">
  <h4 class="land-see-section-header ml1">Related contents</h4>
  <div class="clearfix pt2">
    <ul class="list-reset m0 p0 center justify-start fit flex flex-wrap">
      {{ range . }}
      <li class="px1 block align-top land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-related">
        <a href="{{.URL}}" class="text-decoration-none">
          <amp-img class="land-see-post-image cover" alt="eyecatch" media="" width="409" height="305" layout="responsive" src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}"></amp-img>
        </a>
        {{ range .Params.category }}
        <a class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps" href="{{$BaseURL}}category/{{. | urlize }}/">{{.}}</a>
        {{ end }}
        <h4 class="land-see-post-title ampstart-title-sm pt1"><a class="text-decoration-none" href="{{.URL}}">{{.Title}}</a></h4>
        <p class="ampstart-caption pt1 pb3">{{.Description}}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}

<section class="land-see-recent-content relative mx-auto py4">
  <h4 class="land-see-section-header ml1">Recent Stories</h4>
  <div class="clearfix pt2">
    {{ $recent_articles := (where (where .Site.Pages ".Source.Path" "!=" .Source.Path) "IsPage" true) }}
    <ul class="list-reset m0 p0 center justify-start fit flex flex-wrap">
      {{ range first ($.Site.Params.latestSize | default 8) $recent_articles }}
      <li class="px1 block align-top land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-recent">
        <a href="{{.URL}}" class="text-decoration-none">
          <amp-img class="land-see-post-image cover" alt="eyecatch" media="" width="409" height="305" layout="responsive" src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}"></amp-img>
        </a>
        {{ range .Params.category }}
        <a class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps" href="{{$BaseURL}}category/{{. | urlize }}/">{{.}}</a>
        {{ end }}
        <h4 class="land-see-post-title ampstart-title-sm pt1"><a class="text-decoration-none" href="{{.URL}}">{{.Title}}</a></h4>
        <p class="ampstart-caption pt1 pb3"></p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>

{{ end }}

