{{ with .Site.Params.Instagram }}
<a class="land-see-cta-link mx-auto" href="https://www.instagram.com/{{.}}/">
  <amp-anim class="mt3 mb3" alt="Instagram, follow us!" media="(min-width: 608px)" width="813" height="270" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-lg.gif">
    <amp-img placeholder="" alt="Instagram, follow us!" media="(min-width: 608px)" width="813" height="270" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-lg.png">
    </amp-img>
  </amp-anim>
  <amp-anim class="mt3 mb3" alt="Instagram, follow us!" media="(min-width: 361px) and (max-width: 607px)" width="607" height="282" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-md.gif">
    <amp-img placeholder="" alt="Instagram, follow us!" media="(min-width: 361px) and (max-width: 607px)" width="607" height="282" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-md.png">
    </amp-img>
  </amp-anim>
  <amp-anim class="mt4 mb4" alt="Instagram, follow us!" media="(max-width: 360px)" width="328" height="210" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-sm.gif">
    <amp-img placeholder="" alt="Instagram, follow us!" media="(max-width: 360px)" width="328" height="210" layout="responsive" src="{{.Site.BaseURL}}img/land-see/content/instagram-cta-sm.png">
    </amp-img>
  </amp-anim>
</a>
{{ end }}