<!DOCTYPE html>

<!---
  Copyright 2017 The AMP Start Authors. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain magna copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS-IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<html ⚡="">
{{- partial "head.html" . -}}
<body class="land-see">
  <amp-auto-ads type="adsense" data-ad-client="{{.Site.Params.adsensePublisher}}"></amp-auto-ads>
  {{ if ne (getenv "HUGO_ENV") "DEV" }}
  {{ with .Site.Params.GoogleAnalytics }}
  <amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
      {
        "vars": {
          "account": "{{ . }}"
        },
        "triggers": {
          "trackPageview": {
            "on": "visible",
            "request": "pageview"
          }
        }
      }
    </script>
  </amp-analytics>
  {{ end }}
  {{ end }}
  
  {{- partial "navbar.html" . -}}
  
  
  <div class="pt">
    <a href="{{ .Site.BaseURL }}">
      <amp-img
        src="https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/{{ .Site.Params.topbanner.src }}"
        srcset="https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto/{{ .Site.Params.topbanner.src }} 1000w,
                https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_800/{{ .Site.Params.topbanner.src }} 800w,
                https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_640/{{ .Site.Params.topbanner.src }} 640w,
                https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_400/{{ .Site.Params.topbanner.src }} 400w,
                https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_320/{{ .Site.Params.topbanner.src }} 320w"
        width="{{.Site.Params.topbanner.width}}"
        height="{{.Site.Params.topbanner.height}}"
        layout="responsive">
      </amp-img>
    </a>
  </div>

<!-- <section class="land-see-popular-content mx-auto">
  <h4 class="land-see-section-header ml1">Popular</h4>
  <div class="clearfix pt2">
  </div>
</section> -->

<section class="land-see-recent-content relative mx-auto py4">
  <h4 class="land-see-section-header ml1">Recent Stories</h4>
  <div class="clearfix pt2">
    {{ $recent_articles := (where (where .Site.Pages ".Source.Path" "!=" .Source.Path) "IsPage" true) }}
    <ul class="list-reset m0 p0 center justify-start fit flex flex-wrap">
      {{ range first ($.Site.Params.latestSize | default 16) $recent_articles }}
      <li class="px1 block align-top land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-recent">
        <a href="{{.URL}}" class="text-decoration-none">
          <amp-img class="land-see-post-image cover" alt="eyecatch" media="" width="409" height="305" layout="responsive" src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}"></amp-img>
        </a>
        <div>
          {{ $BaseURL := .Site.BaseURL }}
          {{ range .Params.category }}
          <a class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps" href="{{$BaseURL}}category/{{. | urlize }}/">{{.}}</a>
          {{ end }}
        </div>
        <h4 class="land-see-post-title ampstart-title-sm pt1"><a class="text-decoration-none" href="{{.URL}}">{{.Title}}</a></h4>
        <p class="ampstart-caption pt1 pb3">{{.Description}}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>

{{- partial "footer.html" . -}}
</body>
</html>
